<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>content</title>
        <script type="text/javascript" src="js/thirdparty/jquery.js"></script>
        <script type="text/javascript" src="js/controller/contentController.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
    	<header>
    	<div id="menu">
    	  <div id="logo"></div>
    	  <p>预留logo，menu，登录注册位置</p>
    	</div>
    	</header>

    	<div id="content_body">
    		<div id="content_title">这里是标题
    		<a style="float:right;" href="#">编辑</a>
    		</div>
    		<div id="content_author">这里是作者及时间等信息</div>
    		<div id="content_info">这里是正文</div>
    	</div>

    	<footer>
    	  <p>预留footer，添加链接或其他信息</p>

    	</footer>
    </body>
</html>