<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>edit</title>
  <script type="text/javascript" src="js/thirdparty/jquery.js"></script>
  <script type="text/javascript" src="js/controller/editController.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
		<div id="menu">
		  <div id="logo"></div>
		  <p>预留logo，menu，登录注册位置</p>
		</div>
	</header>
	
	<div id="edit_div">
		<div id="edit_body"><br><br>
			<label>文章标题:</label><br>
			<input id="edit_title" type="text" placeholder="title"><br><br>
			<label>文章内容:</label><br>
			<textarea id="edit_content" type="text" placeholder="content"></textarea><br><br>
			<button id="edit_submit">提交</button>
			<button id="cancel_submit">取消</button>
		</div>
	</div>

	<footer>
	  <p>预留footer，添加链接或其他信息</p>
	</footer>
  
</body>
</html>