<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>list</title>
        <script type="text/javascript" src="js/thirdparty/jquery.js"></script>
        <script type="text/javascript" src="js/controller/listController.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body onload="initList()">
      <header>
      <div id="menu">
        <div id="logo"></div>
        <p>预留logo，menu，登录注册位置</p>
      </div>
      </header>

      <div id="list_body">
      </div>

      <footer>
        <p>预留footer，添加链接或其他信息</p>

      </footer>
    </body>
</html>